numpy>=1.26,<3
Pillow>=12.3,<13
opencv-python>=4.8,<5
onnx>=1.12,<2
onnxruntime-directml==1.24.4
torch==2.4.1
torchvision==0.19.1
torch-directml==0.2.5.dev240914
segment-anything @ https://github.com/facebookresearch/segment-anything/archive/dca509fe793f601edb92606367a655c15ac00fdf.tar.gz
safetensors>=0.4,<1
ultralytics==8.4.75
